footblog/manage.py
footblog/footblog/settings.py
settings.py
manage.py
static/
footblog/footblog/wsgi.py
footblog/footblog/settings.py
footblog/db.sqlite3
footblog/footblog/settings.py
footblog/footblog/__pycache__/settings.cpython-311.pyc
