{% extends 'base.html' %}

{% block title %} {{ post.title_tag }} {% endblock %}

{% block content %}
{% load static %}
<style>

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

</style>


<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
    <meta charset="UTF-8">

</head>
<body>
<br/>
<h1>{{ post.title }}</h1>
By: {{ post.author.first_name }} - {{ post.post_date }}
    {% if user.is_authenticated %}
    <a href="{% url 'edit-post' post.pk %}" class="btn btn-dark btn-sm">Edit</a>
    <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger btn-sm">Delete</a><br/>




    {% endif %}
<hr>
<br/>
<div class="article-card">
    {% if post.post_image %}
    <img src="{{ post.post_image.url }}"  class="center">
    {% endif %}
<br><br>
<div class="article-container">
    {{ post.body|safe }}
</div>
<br><br><br>

<a href="{% url 'home' %}" class="btn back">Inapoi</a>
</div>

</body>
</html>

{% endblock %}