{% extends 'base.html' %}

{% block title %} {{ post.title_tag }} {% endblock %}

{% block content %}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
</head>
<body>
<h1>{{ post.title }}</h1>
By: {{ post.author.first_name }} -

    <a href="{% url 'edit-post' post.pk %}" class="btn btn-dark btn-sm">Edit</a>
    <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger btn-sm">Delete</a><br/>


<hr>
<br/>
{{ post.body }}
<br><br><br>

<a href="{% url 'home' %}" class="btn btn-secondary">BACK</a>


</body>
</html>

{% endblock %}