{% extends 'base.html' %}

{% block title %} Edit post {% endblock %}

{% block content %}
{% if user.is_authenticated %}

{% load static %}
<style>
    .back{
    margin-left:2px !important;
    margin-bottom:0px !important;
    }

</style>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
</head>

<h1>Delete post</h1>
<br/>
<h3>Delete: {{ post.title }}</h3>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <strong class="text-danger">Are you sure?</strong>
        <br/><br>
        <button class="btn btn-secondary update">Delete Post!</button>
        <a href="{% url 'article-detail' post.pk %}" class="btn back">Inapoi</a>
    </form>
</div>

{% else %}

<h1>You are not allowed here!</h1>

{% endif %}


{% endblock %}