<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}





{% load static %}

<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}">
</head>

<br/>
<div class="cards">
            {% for post in object_list %}
            <a href="{% url 'article-detail' post.pk %}">

                <div class="card">

                        {% if post.post_image %}
                        <img src="{{ post.post_image.url }}" class="card_image">
                        {% endif %}
                        <div class="card__content">


                            <div class="card__title">{{ post.title }}</div>

                            {{ post.body|safe|truncatewords:8 }}





                        <div class="post-metadata">
                            {{ post.category }} •
                            {{ post.author }}<br/>
                            {{ post.post_date }}
                        </div>
                        </div>
                        </div>



            </a>




            {% endfor %}



</div>


</html>
<script>$(document).ready(function(){

});
</script>
{% endblock %}