{% extends 'base.html' %}

{% block content %}
<style>
    a {
        color: inherit;
        text-decoration: none;
        font-weight: bold;

    }
    .btn
    {
        padding: 5px 5px;
        border: 0 none;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .li_spaced{
  margin: 10px 0;
    }

</style>
<html>
<h1>Post</h1>

<ul>
{% for post in object_list %}
    <li class ="li_spaced"><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - {{ post.author.first_name }} - {{ post.post_date }} |
        <a href="{% url 'edit-post' post.pk %}" class="btn btn-dark btn-sm">Edit</a> |
        <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
    </li>
{% endfor %}

</ul>
</html>

{% endblock %}