

{% load static %}

<a href="{% url 'home' %}" class="btn btn-secondary">GO BACK</a>
<link rel="shortcut icon" type="image/png" href="{% static 'soccer.png' %}"/>
<h2></h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="." method="POST">
			{% csrf_token %}

			<h1>Create Account</h1>

			{{form.username}}
			{{form.password}}
<!--			-->
<!--			<label class="control-label" for="User"></label>-->
<!--				<input type="text" id="User" placeholder="Username">-->
<!--			<label class="control-label" for="password"></label>-->
<!--				<input type="password" id="password">-->
			<button type="submit" value="signup">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="POST">
			<h1>Sign in</h1>
			{% csrf_token %}

			<label class="control-label" for="username"></label>

                <input type="text" id="username" name="username"  placeholder="Username">

			<label class="control-label" for="password"></label>

                <input type="password" name="password" id="password" placeholder="Password">



			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p></p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p></p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>



<link rel="stylesheet" href="{% static 'login.css' %}" />
<script type="text/javascript" src="{% static 'login.js' %}"></script>

